/* facebook css */
* {
  margin: 0;
  padding: 0;
}

/* 공통 스타일 */
#facebook_area {
  background: #3c589f;
  text-align: center;
}

#facebook_area {
  position: relative;
}

.facebook_contents {
  padding: 0 0 50px 0;
}

/* facebook title */
.facebook_title h2 {
  color: white;
  font-size: 50px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Work Sans", sans-serif;
}

/* facebook contents */
.post-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 4px;
  border-radius: 5px;
  filter: brightness(50%);
  cursor: pointer;
  padding: 4px;
}

@media screen and (max-width: 768px) {
  .post-container {
    filter: brightness(100%);
  }
}

/* img */
.post-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 2px 2px 0px 0px;
}

/* time */
.post-container .time {
  color: gray;
  background: white;
  font-size: 10px;
  text-align: right;
  padding: 10px 10px 0px 0px;
  /* padding-right: 10px; */
}

/* content */
.post-container .content {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  color: black;
  background: white;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 0px 0px 5px 5px;
  padding: 0px 8px 8px 8px;
  -webkit-line-clamp: 3;
}

/* container hover */
.post-container:hover {
  filter: brightness(100%);
}

/* content more button */
.post-button {
  color: #3c589f;
}

.post-button:hover {
  text-decoration: underline;
}

/* slick 설정 */

.slick-slider {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.slick-dots {
  display: none !important;
}

.slick-round-btn {
  border-radius: 50%;
  padding: 10px 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent !important;
}

.slick-round-btn:hover {
  background-color: gray;
}

/* 웹 버전 슬라이드 버튼 크기 */
.slick-prev img,
.slick-next img {
  width: 20px;
  height: 20px;
}
